* {
  box-sizing: border-box;
}

html {
  font-family: Verdana;
  font-size: 16px;
  color: #555;
}

h1 {
  color: #fff;
  text-align: center;
}

.header {
  background: linear-gradient(60deg, red, orange);
}

.footer {
  background-color: #e5e5e5;
  padding: 0.5em;
  text-align: center;
}

.navigation {
  padding: 0.5em;
  width: 20%;
  flex-grow: 1;
}

.section {
  flex-grow: 1;
  padding: 0.5em;
  width: 60%;
  font-size: 1.25em;
}

.news {
  padding: 0.5em;
  width: 20%;
  flex-grow: 1;
}

.units-list {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-weight: 700;
  font-size: 1.125em;
}

.section__header {
  font-size: 5vw;
  text-align: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

/*.nav-list-item {
  background-color: #808080;
  color: #fff;
  height: 2em;
  margin-bottom: 0.5em;
  text-align: center;
  display: flex;
}

.nav-list-link {
  padding-left: 0.5em;
  text-decoration: none;
  color: #fff;
  line-height: 2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
}*/

.nav-list-item {
  list-style-type: none;
  height: 2em;
  background-color: #808080;
  line-height: 2em;
  color: white;
  margin-bottom: 0.5em;
}

.nav-list-link {
  width: 100%;
  display: inline-block;
  padding: 0 0.5em;
  text-decoration: none;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  display: flex;
}

.main-img {
  max-width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .navigation, .section, .news {
    width: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .main {
    flex-wrap: wrap;
  }

  .navigation {
    width: 20%;
  }

  .section {
    width: 80%;
  }

  .news {
    width: 100%;
  }
}

